.detail-quiz-container {
    padding: 60px;
    .left-content {
        width: 70%;
        border: 1px solid red;
        .title {
            font-size: 40px;
            font-weight: 600;
        }
        .question-body {
            margin: 20px 0;
        }
        .question-content {
            .q-image {
                img {
                    width: fit-content;
                    height: 300px;
                }
            }
            .question {
            font-weight: 600;
            font-size: 20px;
            }
        }
        .btn-read {
            background-color: #d4cece;
            border: none;
            color: white;
            cursor: no-drop;
        }
    }
    .right-content {
        width: 30%;
        border: 1px solid red;
    }
}