.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
            .logo-sidebar {
                width: 20%;
            }
        }
    }
    .admin-content {
        width: 100%;
        .admin-header {
            height: 40px;
        } 
    }
}