.login-container {
    .header {
        height: 45px;
        text-align: right;
        margin-right: 30px;
        button {
            border: 1px solid #000;
            padding: 5px 10px;
            border-radius: 8px;
        }
    }
    .title {
        font-size: 35px;
        margin: 20px 0;
        font-weight: bold;
    }
    .welcome {
        font-size: 25px;
        color: #484646;
        margin: 20px 0;
    }
    .content-form {
        display: flex;
        flex-direction: column;
        gap: 15px 0;
        label {
            margin-bottom: 5px;
        }
        input {
            padding: 10px 15px;
        }
    }
    .forgot-password {
        font-size: 14px;
        color: #5b5858;
    }
    .btn-login {
        height: 50px;
    }
    .back {
        cursor: pointer;
    }
}